body {
    margin:0;
    padding: 0;
    font-family: Arial, sans-serif;
	background: linear-gradient(11deg, #d4ff00 0%, #2d0740 91%);
	height: 75vh;
	color: #00FFFF;
	text-shadow: 0 0 10px #00FFFF
  }
 
.topdiv{
	text-shadow: 0 0 10px #00FFFF;
	border:none;
	width:100%;
	height:100px;
	float: left;
	align-content: center;
	 box-shadow: 0 15px 35px rgba(37, 99, 235, 0.1);
	background-color: #01091d;
	top: 0;
}

.burger{
	cursor: pointer;
	font-size: 2.5rem;
	float: left;
	margin-right: 100px;
	margin-left: 10px;
}
.user-icon{
	cursor: pointer;
	float: right;
	text-decoration: none;
	transition: all 0.3s ease;
	text-shadow: 0 0 10px #00FFFF;
	font-size: 2.7rem;
	margin-right: 10px;
}

.user-icon:hover{
	transform: scale(1.05);
}


.home-btn{
	cursor: pointer;
	font-size: 3.5rem;
	float: right;
	text-decoration: none;
	transition: all 0.3s ease;
	text-shadow: 0 0 10px #00FFFF;
	margin-right: 10px;
}

.home-btn:hover{
	transform: scale(1.05);
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  color: #ddfcfa;
  text-shadow: 0 0 10px #93ffff;
}
.title span {
  color: #00FFFF;
  text-shadow: 0 0 10px #00FFFF;
}


.search {

  margin-top: 20px;
  float: left;
	
	
	
}

.sidebar{
	
	border:none;
	width:15%;
	height:100%;
	float: left;
	font-family: Arial, sans-serif;
	text-decoration: none;
	margin-right: 50px;
}

.sidebar a{
	margin-top: 5px;
	color: rgb(0, 255, 234);
	font-size: 1.5rem;
	text-decoration: none;
    margin-left: 10px;
	cursor: pointer;
}
.addicon img{
	font-size: 0.5rem;
	cursor: pointer;
}	
.addicon {
	font-size: 1.5rem;
	cursor: pointer;
	margin-left: 10px;
	
	
}
.addicon a{
	color: rgb(0, 255, 234);
	font-size: 2.5rem;
	text-decoration: none;
}

.logout{
    width: 80%;
    padding: 8px;
    background-color: #ef4444; 
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 300px;
}

.logout:hover {
    background-color: #dc2626; 
    box-shadow: 0 8px 15px rgba(239, 68, 68, 0.3);
    transform: scale(1.02);
}

.vibelist{
	width: 20%;
	height: 250px;
	float: left;
	font-family: Arial, sans-serif;
	filter: drop-shadow(1px 5px 10px #ffe91e);
}

.vibelist img{
	border-radius: 15px;
}

.description{
	color: whitesmoke;
	text-shadow: none;
	border-radius: 15px;
	background-color: #1b1b1ba8;
	padding: 20px;
	float: right;
	width: 45%;
	height: 200px;
	box-shadow: 0px 1px 8px 0px #292929;
	align-items: center;
	text-align: justify;
	
}


.albums{
	width:250px;
	height:250px;
	float: left;
	font-family: Arial, sans-serif;
	filter: drop-shadow(-2px 5px 10px #000000);
	
	
	
	
	
}


.foot{
	z-index: 1000;
	border:none;
	position: fixed;
	width:100%;
	height:100px;
	bottom: 0;
	align-content: center;
	box-shadow: 0 15px 35px rgba(37, 99, 235, 0.1);
	margin-top: 20px;
	background: black;
	font-family: Arial, sans-serif;
}

.audio{
	align-content: center;
	box-shadow: white;
	margin-left: 325px;
	
	
}

.img{
	align-content: center;
	box-shadow: white;
	border:1px solid white;
	margin-right: 10px;
	margin-left: 10px;
	width:50px;
	height:50px;
	float: left;
	font-family: Arial, sans-serif;
	
}
.label{
	font-family: Arial, sans-serif;
	font-size: 1rem;
	float: left;
	width:150px;
	height:50px;
	margin-bottom: 10px;
}

.upcoming{
	padding-left: 15px;
	background-color: #01091db7;
	font-size: 1.5rem;
	height:100%;
	float: right;
	font-family: Franklin Gothic Medium;
	width:10%;
	margin-left: 10px;
	
}


.upcoming a{
	color: white;
	text-decoration: none;
	font-size: 1rem;
	padding: 10px;
	background-color: rgb(1, 0, 17);
	border-radius: 10px;
	transition: background-color 0.3s ease;
	margin-top: 10px;
	margin-bottom: 10px;
}

